

.root {
    -fx-font-family: "Segoe UI", "Arial";
    -fx-font-size: 13px;
    -fx-background-color: #ffffff;
}

.header {
    -fx-padding: 12;
    -fx-background-color: linear-gradient(to right, #2c3e50, #4ca1af);
    -fx-text-fill: white;
    -fx-alignment: center-left;
}

.app-title {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-padding: 6 0 6 6;
    -fx-font-weight: bold;
}

.section-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.subsection {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.primary-button {
    -fx-background-color: #2c7be5;
    -fx-text-fill: white;
    -fx-padding: 8 12 8 12;
    -fx-background-radius: 6;
}

.small-button {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #222;
    -fx-padding: 6 8 6 8;
    -fx-background-radius: 4;
}


.text-area, .text-field {
    -fx-border-color: #d0d0d0;
    -fx-border-radius: 4;
    -fx-padding: 6;
}


.left-column-title {
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}